<!doctype html>
<html ng-app="routing">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="vendor/bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>
    <script src="js/routing.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
	<meta charset="UTF-8">
  </head>
  <body>
	<H1> Roteirização ClickBus </H1>
    <div class='container-fluid' ng-controller="TypeaheadCtrl">
        Origem <input type="text" ng-model="origin" typeahead="suggestion for suggestion in cities($viewValue)" ng-blur="getOriginId(origin)"> code: {{originId}}<br/>
		Destino <input type="text" ng-model="dest" typeahead="suggestion for suggestion in cities($viewValue)" ng-blur="getDestId(dest)"> code: {{destId}}<br/>
		# Max de viagens <br/>
		<input type="radio" ng-model="maxDist" value="1">1
		<input type="radio" ng-model="maxDist" value="2" ng-checked="true">2
		<input type="radio" ng-model="maxDist" value="3">3
		<input type="radio" ng-model="maxDist" value="4">4
		<input type="radio" ng-model="maxDist" value="5">5
		<input type="radio" ng-model="maxDist" value="9999">INF
		<br/>
		<br/>
		<button ng-click="routing()" ng-init="count=0">
			Roteirizar
		</button>
		<br/>
		<br/>
		<div ng-repeat="edge in path">
		{{edge.originName}} =>  {{edge.destName}} : {{edge.cost}} Km <br/>
		</div>
    </div>
  </body>
</html>